<% content_for :title, "Resend unlock instructions | Open Events" %>
<div class='form-signin'>
<h4>Resend unlock instructions</h4>
<hr>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <%= f.submit "Resend unlock instructions", class: 'btn btn-primary' %>
<% end %>

<%= render "devise/shared/links" %>
</div>